
/*.navbar-list {
	float : right;
}*/

.navbar-nav .active a {
	color : #82bce4;
}

/* column */
.column-header {
	width           : 100%;
	height          : 115px;
	background      : url('/css/images/bg.png') 0 -10px;
	background-size : cover;
}

.column-header .title {
	float     : left;
	margin    : 44px 0 0;
	font-size : 25px;
	color     : #ffffff;
}

.column-container {
	margin      : 0 5px;
	padding-top : 10px;
}

/* column nav */
.column-nav-container, 
.assessment-progress-container {
	margin        : 20px -15px 0;
	padding       : 6px 0;
    width         : 1170px;
	height        : 42px;
	border-bottom : 2px solid #dcdcdc;
}

.column-nav {
	padding-left : 15px;
}

.column-nav li {
	float      : left;
	margin     : 0 20px 0 0;
	font-size  : 16px;
	list-style : none;
}

.column-nav a {
	color : #808080;
}

.column-nav .active a, .column-nav a:hover {
	color : #333333;
}

/* article */
.article-block {
	float   : left;
	margin  : 20px 0 0;
	padding : 1px 0;
	width   : 100%;
	clear   : both;
}

.article-block .title {
	font-size   : 20px;
	font-weight : bold;
	color       : #333333;
}

.article-block p, .article-block dl, .article-block ul {
	margin-top  : 16px;
	font-size   : 16px;
	color       : #808080;
	line-height : 1.8em;
}

.article-block p a {
	color : #0071bc;
}

.article-block dl {
	margin-bottom : 0;
	width         : 100%;
	float         : left;
	clear         : both;
}

.article-block dl dt {
	margin-right : 10px;
	float        : left;
	font-weight  : normal;
}

.article-block dl dd {
	float: left;
}

.article-block ul {
	margin-top : 30px;
	padding    : 0;
}

.article-block ul li {
	list-style : none;
	float      : left;
	width      : 20%;
	text-align : center;
}


.page-jump {
    float: left;
    clear: both;
    margin-top: 20px;
    text-align: right;
    width: 100%;
}


/* assessment */
.assessment-progress-container {
	margin-bottom: -14px;
	height: 220px;
}

/* progress */
.assessment-progress-container ul {
	margin-top: 0;
	margin-bottom: 0;
}

ul.assessment-progress-bar {
	float: left;
	margin-left: 56px;
}

ul.assessment-progress-bar li {
	list-style: none;
	float: left;
	margin-right: 44px;
	width: 106px;
	height: 118px;
	background: url('/css/images/assessment-progress-bar.png');
	font-size: 34px;
	font-weight: bold;
	color: #333333;
	line-height: 118px;
    font-family:
          Arial, 
          STXihei, 
          "华文细黑", 
          "Microsoft YaHei", 
          "微软雅黑",
          Heiti, 
          "黑体",
          sans-serif;
}

.assessment-progress-bar .type-1 {
	background-position: 0 0;
}

.assessment-progress-bar .type-2 {
	background-position: 0 -118px;
}

.assessment-progress-bar .type-3 {
	background-position: 0 -236px;
	color: #ffffff;
	font-size: 22px;
}

ul.assessment-progress-title {
	float: left;
	margin-top: 24px;
	width: 100%;
}

ul.assessment-progress-title li {
	list-style: none;
	float: left;
	margin-left: 74px;
	font-size: 20px;
	color: #333333;
}

ul.assessment-progress-title li:first-child {
	margin-left: 0;
}


/* assessment form */
.sim-form {
	margin: 28px 40px;
}

.sim-form .form-group {
	float: left;
    margin-top: 10px;
	margin-bottom: 26px;
	width: 100%;
}

.sim-form .input-item {
	margin-top: 10px;
}

.sim-form .display-name {
	font-size: 20px;
	color: #333333;
}

.min-type  .input-item, .min-type .display-name {
    float: left;
    display: block;
}

.sim-form [class^="icon-"], .display-name [class*="icon-"] {
    font-size: 10px;
    margin-right: 8px;
    margin-left: 8px;
}

.sim-form .icon-star {
    color: red;
}

.sim-form .icon-star:before {
    content: "*";
}

.min-type .display-name {
    margin-top: 0;
    margin-right: 8px;
    line-height: 43px;
}

.min-type .input-item {
    margin-top: 0;
    width: 80%;
}

.sim-form .display-name .important {
	margin-right: 4px;
	margin-left: -20px;
	color: #E73134;
	font-size: 26px;
	display: inline-block;
	width: 11px;
}

.sim-form input[type="text"] {
	padding: 2px 4px;
	width: 420px;
	height: 40px;
	background: #f4fcf9;
	border: 1px solid #e6ecea;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
        -ms-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
    font-size: 16px;
}

.sim-form input[type="text"].long {
	width: 740px;
}

/*.sim-form select {
	width: 420px;
}*/

.sim-form select option {
	height: 30px;
	line-height: 30px;
	padding: 10px;
}

.w100 {
	width: 100px !important;
}

.w420 {
	width: 420px;
}

.w520 {
	width: 520px;
}

.w814 {
    width: 814px;
}

.w1120 {
    width: 1120px;
}

.sim-form .ui-customSelect {
    box-shadow: none;
    border: none;
}

.sim-form .ui-customSelect-window {
	border: 1px solid #e6ecea;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
         -o-border-radius: 2px;
            border-radius: 2px;
	height: 40px;
	background: transparent;
    font-size: 16px;
}

.sim-form .ui-customSelect-arrow {
	margin: 4px 10px 0 0;
	zoom: 1.2;
}

.sim-form .ui-customSelect-window span {
	margin: 9px 0 0 10px;
    font-weight: bold;
}

.sim-form .ui-customSelect-dropdown {
	margin: 0;
	border: 1px solid #e6ecea;
    box-shadow: none;
}

.sim-form .ui-customSelect-dropdown ul {
	margin-top: 0;
}

.sim-form .ui-customSelect-dropdown li {
	padding: 6px 10px;
	width: 100%;
	text-align: left;
}

.sim-form .ui-customSelect-dropdown li:hover {
	background: #f4fcf9;
    cursor: pointer;
}

.sim-form .ui-customSelect-dropdown input[type="radio"] {
	cursor: pointer;
    margin-top: 4px;
    margin-bottom: -2px;
}

.sim-form .ui-customSelect-dropdown label {
    float: left;
    margin-top: -15px;
    padding-left: 20px;
    width: 100%;
    font-weight: normal;
    cursor: pointer;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
	border: 1px solid #e6ecea;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
         -o-border-radius: 2px;
            border-radius: 2px;
}

.sim-form .am-checkbox {
	display: inline-block;
	float: left;
	width: 22px;
	height: 22px;
}

.sim-form .form-terms {
	display: inline-block;
	margin-left: 34px;
	margin-top: -23px;
	width: 600px;
	font-size: 18px;
}

.sim-form .form-terms > * {
	line-height: 1.7em;
}

.sim-form .form-terms dt {
	color: #333333;
}

.sim-form .form-terms dd {
	color: #b5b5b5;
}

.sim-form input[type="submit"] {
	width: 145px;
	height: 50px;
	background: #165c99;
	font-size: 18px;
	color: #ffffff;
	border: 0;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
        -ms-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}

/* license tool */
#license-tool-options, #license-tool-result {
    display: none;
}

#select-steps .sim-form {
    display: none;
}

.sim-form label {
	font-size: 16px;
}

.screening-progress {
	margin-top: 40px;
}

.screening-progress ul {
	margin-top: 16px;
	padding-left: 0;
	height: 30px;
}

.screening-progress li {
	list-style: none;
	float: left;
	display: inline-block;
}
.screening-progress .type-1, .screening-progress .type-1.active {
	background: #265996;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
        -ms-border-radius: 30px;
         -o-border-radius: 30px;
            border-radius: 30px;
    overflow: hidden;
    color: #ffffff;
    text-align: center;
    line-height: 32px;
}

.screening-progress .type-1 {
	margin-top: 3px;
	width: 24px;
	height: 24px;
	text-indent: -10em;
}

.screening-progress .type-1.active {
	margin-top: 0;
	width: 30px;
	height: 30px;
    text-indent: 0;
	font-weight: bold;
}

.screening-progress .type-2 {
	margin: 14px 8px 0;
	width: 142px;
	border-top: 2px solid #7499BF;
}

.screening-results {
	padding-top: 1px;
}

.screening-results .select-options {
    padding-bottom: 20px;
    font-size: 20px;
}

.screening-results .result .title {
	margin-bottom: 10px;
	padding: 0 20px;
	height: 38px;
    line-height: 34px;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 2px solid #BDBDBD;
    position: relative;
}

.screening-results .result.folding .title {
    width: 100%;
    border: 2px solid #BDBDBD;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
    overflow: hidden;
}

/*.screening-results .result.folding .content {
    display: none;
}*/
.portlet-header, .portlet-content {
    /*float: left;*/
    width: 100%;
    overflow: hidden;
}

.portlet-content {
    margin-top: -11px;
}

#screening-results-inner {
	padding-right: 10px;
}

#screening-results-inner .title {
    cursor: pointer;
}

#screening-results-inner .title::selection {
    background: #ffffff;
}

#screening-results-inner .title::-webkit-selection {
    background: #ffffff;
}

#screening-results-inner .title::-moz-selection {
    background: #ffffff;
}

#screening-results-inner .content {
    margin-bottom: 10px;
    margin-top: -11px;
    padding-top: 14px;
    padding-bottom: 20px;
    border: 2px solid #BDBDBD;
    border-top: none;
    line-height: 1.6em;
}

.screening-results .result .content {
    padding: 0 20px 60px;
}

.screening-results .requirement {
    margin-top: 0;
    padding-left: 30px;
    width: 100%;
}

.screening-results .requirement li {
    width: 100%;
    text-align: left;
    float: none;
    list-style: initial;
}

.portlet-header .title {
    position: relative;
}

.screening-results .rating {
position: absolute;
top: 0;
right: 20px;
}

.screening-results .licence-name {
    display: block;
    padding-right: 100px;
    padding-left: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.screening-results .licence-name-full {
    display: none;
}

/*.screening-options {
    width: 814px;
}*/

.screening-options .sim-form {
	margin-left: 0;
	margin-right: 0;
}

/*.screening-options .sim-form > p {
    font-size: 14px;
}*/

/*.screening-options .form-select {
	background: #ECECEC;
	border-color: #AAAAAA;
}*/


.resolver-prev, .resolver-next, .resolver-complete, .resolver-restart {
	width: 110px;
	height: 40px;
	font-size: 18px;
	border: 0;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
        -ms-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}

.resolver-handler {
    margin-bottom: 40px;
	width: 1120px;
	text-align: right;
}

#license-tool-result .resolver-handler {
    margin-bottom: -50px;
    padding-right: 20px;
    width: 100%;
}

.resolver-prev {
	background: #939393;
	color: #ffffff;
}

.resolver-next, .resolver-restart {
	background: #265996;
	color: #ffffff;
}

.resolver-complete {
	background: #ffffff;
	color: #265996;
	border: 1px solid #C0C2C2;
}

#license-tool-result-inner {
    clear: both;
}


@media (max-width: 960px) {
    .w1120 {
        width: 100%;
    }

    .column-nav-container, .assessment-progress-container {
        margin: 20px 0 0;
        width: 100%;
    }

    .column-nav-container {
        float: left;
        padding-bottom: 20px;
        height: auto;
    }

    .column-nav li {
        margin: 0;
        width: 100%;
    }

    .column-container {
        margin: 0 10px;
    }


    .screening-progress .type-2 {
        margin-left: 7px;
        margin-right: 7px;
        width: 1px;
    }

    .resolver-handler {
        width: 100%;
    }

    .ui-customSelect-window span {
        width: 86%;
    }

    .screening-results .licence-name-full {
        display: inline;
    }


    .assessment-progress-bar {
        zoom: .3;
    }

    .sim-form {
        margin-left: 20px;
        margin-right: 20px;
    }

    .sim-form .form-terms {
        width: auto;
    }
    
    .sim-form input[type="text"] {
        width: 100% !important;
    }

    .sim-form input.w100 {
        width: 100px !important;
    }
    
    
    .members-logos ul li {
        width: 50%;
    }
}


/*ambassador form*/
.ambassador-form, .ambassador-form .display-name {
    font-size: 18px;
    color: #1972A1;
}

.ambassador-form .display-name .icon-circle {
    margin-left: -24px;
}

.ambassador-form .display-name .list-number {
    margin-right: 4px;
    margin-left: -24px;
    font-style: normal;
}

.ambassador-form .min-type {
    display: inline-block;
    width: 50%;
}

.ambassador-form input[type="text"], .ambassador-form textarea {
    height: 100px;
    width: 50%;
    background: transparent;
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
}

.ambassador-form input[type="text"] {
    width: 260px;
    height: 34px;
}

.ambassador-form .min-type.w-full input[type="text"] {
    width: 748px;
}

.ambassador-form .ui-customSelect {
    float: left;
    width: 260px;
}

.ambassador-form .ui-customSelect-window {
border-color: #CCCCCC;
}

.ambassador-form .ui-customSelect-arrow {
    margin: 4px 7px 0 0;
}

.ambassador-form .input-item span {
    font-size: 16px;
    color: darkred;
}

.ambassador-form .input-item > label {
    font-weight: normal;
    margin: 0 14px 0 4px;
    font-size: 18px;
}

.ambassador-form > div {
    float: left;
    width: 100%;
}

/*member logos*/
.members-logos {
    margin-top: 80px;
}

.members-logos p {
font-size: 18px;
color: #000;
}

/* 活动 */
/* 招募 */
.huodong.zhaomu {
    /*margin: 50px auto 0;
    width: 840px;*/
    margin: 60px auto 0;
    width: 600px;
    clear: both;
}


/* 开源之星 */
.star-content {
    margin-top: 30px;
    padding: 0 50px;
    height: 860px;
    border: 1px solid #000;
    background: url('/css/images/wenli-bg.png');
}

.left-arrow {
    float: left;
    margin-left: -50px;
    width: 50px;
    height: 100%;
    background: url('/css/images/star-left-Arrow.png');
}

.right-arrow {
    float: right;
    margin-right: -50px;
    width: 50px;
    height: 100%;
    background: url('/css/images/star-right-Arrow.png');
}

.star-inner {
    text-align: center;
}

.star-badge {
    margin-left: auto;
    margin-right: auto;
    width: 462px;
    height: 318px;
    background: url('/css/images/star-badge.png');
}

.star-text h1 {
    font-size: 60px;
    font-weight: 600;
    margin-top: 10px;
    letter-spacing: 4px;
}

.star-text h2 {
    font-size: 42px;
    font-weight: 700;
    margin-top: 44px;
}

.star-text .address {
    margin-top: -7px;
    font-size: 28px;
}

.star-text .result {
    font-size: 28px;
}

.star-text .thanks {
    margin-top: -18px;
    font-size: 28px;
    font-weight: bold;
}

.star-footer {
    position: relative;
}

.star-footer .logo {
    position: absolute;
    right: 40px;
    top: 50px;
    width: 210px;
    height: 72px;
    background: url('/css/images/logo-star.png');
}

.star-footer .number {
    position: absolute;
    top: 124px;
    left: 40px;
    font-size: 28px;
    font-weight: 600;
}

.star-footer .date {
    position: absolute;
    top: 124px;
    right: 40px;
    font-size: 28px;
    font-weight: 600;
}