body {
	margin:0;
	border:0;
	padding:0;
	font-family: Calibri;
}

span {
	margin: 5px;
	height: 25px;
}

select {
	margin: 5px;
	height: 25px;
}

#validform {
	padding-top: 10px;
	margin: 10px;
}

#validform .input-bottom > p {
    font-size: 18px;
    color: #1972A1;
}

#proname {
	width: 300px;
}

#versionspan {
	margin-left: 130px;
}

#reprotype {
    width: 120px;
}

.small .ui-customSelect {
    float: left;
    margin-left: 8px;
    width: 140px;
    display: inline-block;
    height: 34px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.small .ui-customSelect span {
    width: 80%;
    font-size: 14px;
    line-height: 20px;
}

.small .ui-customSelect-window {
    height: 34px;
}

.small .ui-customSelect-dropdown {
    width: 140px;
    margin: -2px -1px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.small .ui-customSelect-dropdown label {
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
}

.small .ui-customSelect-dropdown li:hover {
    background: #f4fcf9;
    cursor: pointer;
}

.small .ui-customSelect .ui-customSelect-arrow {
    margin: .55em .5em 0 0;
}

.small .ui-customSelect .ui-customSelect-dropdown ul {
    margin-top: 0;
}

.small .ui-customSelect .ui-customSelect-dropdown li {
    width: 100%;
    text-align: left;
}

.article-block.input-bottom > span {
    float: left;
    margin: 0 8px 0;
    display: inline-block;
    height: 34px;
    line-height: 34px;
}

#ver {
	width: 100px;
}

#reprou {
	width: 500px;
}

#capchaimg {
    float: left;
    margin-left: 8px;
	height: 34px;
}

#declare {
	padding: 0;
	margin-bottom: 5px;
}

#projsite {
    width: 500px;
}

#errorinfo {
    color: #f00;
    text-align: center;
}

#wAll {
    float: left;
    margin-top: 20px;
    color: red;
}

#wproName {
    color: red;
}

#wproSite {
    color: red;
}

#wproRepo {
    color: red;
}

#wproVeri {
    color: red;
}

#vericode {
    width: 100px;
}

.span-redcolor {
    color: red;
}

.input-bottom {
    margin-bottom: 10px;
}

.input-bottom.min-type-2 {
    margin-right: 80px;
    display: inline-block;
    width: auto;
    clear: none;
}

#validform input[type="text"] {
    float: left;
    padding: 0 2px;
    height: 34px;
    background: transparent;
    border: 1px solid #CCCCCC;
    font-size: 16px;
    line-height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#validform input[type="checkbox"] {
    float: left;
    margin-top: 7px;
}

#overlay {
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  background: rgba(0,0,0,.6);
}

#statusdialog {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  z-index: 2000;
  text-align: center;
}

#dialog {
  width: 400px;
  height: 200px;
  margin: 100px auto;
  margin-top: 200px;
  padding: 15px 0;
  text-align: center;
}

#dialog h3 {
    color: rgba(255,255,255,.9);
}

#statusinfo {
    display: inline-block;
    margin: 0 0 40px;
}

#dialog .icon-spin {
    margin-top: 6px;
}
